.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.recipe-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    overflow: hidden;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    max-width: 250px;
    width: 100%;
}

.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.recipe-card:hover img {
    transform: scale(1.1);
}

.recipe-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.recipe-card p {
    font-size: 1em;
    color: #666;
}

@media (max-width: 600px) {
    .recipe-card {
        max-width: 100%;
    }
}
